<div class="header">
    <div class="navbar-header">
        <a id="logo" class="navbar-brand" href="/">
            <img src="/images/whalar-logo.png" width="120" height="48">
        </a>
    </div>

    <div id="search_bar">
        <form method='post' action ="{{ path_for('search') }}">
            <input type='text' placeholder="Busca tu receta" name='name' />
        </form>
    </div>
</div>

